.feedback-container {
    width: 100%;
    display:flex;
    justify-content: space-around;
    overflow: hidden;
}
.background {
    height: 800px;
    width: 640px;
    background-color: wheat;
}
.feedback-container::-webkit-scrollbar{
    display: none;
}
.feedback-window::-webkit-scrollbar { 
    display: none; 
}
.title {
    font: 5vh 'Oleo Script', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
}
.comment-box {
    width: 30vh;
    height: 10vh;
    font: 2vh 'Oleo Script', Helvetica, sans-serif;
}
.comment-box-container {
    width: 30vh;
}

.comment-box-container ul {
    background-color: white;
}

.item {
    font: 2vh 'Oleo Script', Helvetica, sans-serif;
    color:  #616161;
    text-decoration: none;
    list-style-type: none;
}

.button {
    font: 2vh 'Oleo Script', Helvetica, sans-serif;
    color: #616161;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: white;
    border: 3px solid white;
    width: 10vh;
    height: 3vh;
    line-height: 1.1;
}
