<div class="feedback-container">
  <div class="background">
    <iframe class="feedback-window"
      src="https://docs.google.com/forms/d/e/1FAIpQLSdAN0lsZCEdKKnHyULcyutOf-wBdbAoCMRPXiuxnCCNiUfcHA/viewform?embedded=true"
      width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Se încarcă...</iframe>
  </div>
  <div class="comment-box-container" name="form">
    <h2 class="title"> Or you can leave us a comment!</h2>
    <textarea class="comment-box" placeholder="Tell us your opinion!" [(ngModel)]="comment"></textarea>

    <button class="button" (click)="ShowComment()"> Send</button>

    <ul>
      <li class="item" *ngFor="let item of foo">
        {{ item }}
      </li>
    </ul>
  </div>


</div>