html, body {
    margin: 0;
    padding: 0;
}
.image-container {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.title-container {
    display: flex;
    justify-content: center;
}
.name-container {
    display:flex;
    justify-content: center;
}
.motto-container {
    display: flex;
    justify-content: center;
    font: 4vh 'Oleo Script', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
}

.title {
    font: 9vh 'Oleo Script', Helvetica, sans-serif;
    color: #FCAB10;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
    border-bottom: 3px solid white;
    transition: all 1s;
}

.title:hover {
    color: white;
    border: none;
}

.restaurant-name {
    font: 8vh 'Oleo Script', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
    border-top: 3px solid white;
    transition: 1s all;
}

.restaurant-name:hover{
    color: #FCAB10;
    border: none;
    transform: scale(1.2)
}

.button-container {
    display: flex;
    justify-content: center;
}

.menu-button{
    font: 3vh 'Oleo Script', Helvetica, sans-serif;
    background: none;
    color: white;
    border: 3px solid white;
    padding: 1vh;
    transition: 1s all;
    margin-bottom: 1vh;
}

.menu-button:hover {
    transform: scale(1.2)
}

