<div class="image-container">

  <div class="title-container">
    <p class="title"> Welcome to our Restaurant! </p>
  </div>
  <div class="motto-container">
    <p>Taste the deepest italian feelings!</p>
    <i class="far fa-heart"></i>
  </div>
  <div class="name-container">
    <h2 class="restaurant-name"> Vezuviu</h2>
  </div>
  <div class="button-container">
    <button class="menu-button" [routerLink]="['Menu']"> Our Menu</button>
  </div>

</div>