<div class="footer">
  <div class="first-row">
    <div class="infos">
      <p>Contact Us</p>
      <p>Email adress: vezuviu@restaurant.com</p>
      <p>Adress: Romania Iasi Str Pasta nr 38</p>
    </div>
    <div class="middle-footer">
      <i class="fas fa-pizza-slice"></i>
      <p class="footer-motto"> Because we love food!</p>
    </div>
    <div class="social-media">
      <div class="social-media-buttons">
        <a class="link" href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
        <a class="link" href="https://www.instagram.com/?hl=ro"><i class="fab fa-instagram"></i></a>
        <a class="link" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a class="link" href="https://www.pinterest.com"> <i class="fab fa-pinterest-p"></i></a>
      </div>
      <div class="social-media-message">
        <p> Follow us on Social Media! :)</p>
      </div>
    </div>
  </div>

</div>