.footer {
    display: flex;
    flex-direction: column;
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    margin: 0;
    opacity: 0.5;
    transition: all 2s;
}
.infos {
    padding-right: 3vh;
    border-right: 2px solid white;
    border-left: 2px solid white;
    padding-left: 3vh;
}

.middle-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-motto {
    font: 2vh 'Oleo Script', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
}
.footer:hover {
    opacity: 0.8;
}
.first-row {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: white;
}

.fab {
    margin-top: 1vh;
    margin-right: 5vh;
    font-size: 3vh;
    transition: all 1s;
}
.fas {
    margin-top: 1vh;
    margin-left: 10px;
    font-size: 5vh;
    transition: all 1s;
}

.fab:hover {
    transform: scale(1.3);
}
.social-media {
    text-align: center;
    padding-left: 3vh;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.social-media-message {
    margin-top: 3vh;
}
.link {
    color:white;
    text-decoration: none;
}