.menu-container {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    
    opacity: 0.4;
    height: 5vh;
    transition: all 1s;
}

.menu-container:hover {
    opacity: 0.8;
}

.menu-buttons {
    margin-top: 1vh;
    color:white;
}

.social-media {
    display: flex;
}