<div class="menu-container">
  <div>
    <button mat-button class="menu-buttons" [routerLink]="['']"> Home </button>
    <button mat-button class=" menu-buttons" [routerLink]="['AboutUs']"> What is new about us? </button>
    <button mat-button class="menu-buttons" [routerLink]="['Menu']"> Menu</button>

    <button mat-button class="menu-buttons" [routerLink]="['Team']"> Team</button>
    <button mat-button class="menu-buttons" [routerLink]="['Feedback']"> Help us improve ourselves!</button>
  </div>
</div>
<router-outlet>

</router-outlet>

<router-outlet>

</router-outlet>