.team-info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    font: 7vh 'Oleo Script', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
}
.members-list {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.member {
    font: 4vh 'Oleo Script', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
    transition: all 2s;
}
.member:hover {
    color:#FCAB10;
}
.cv-button {
    text-align: center;
    width: 20vh;
    border: 3px solid white;
    font: 3vh 'Oleo Script', Helvetica, sans-serif;
    background: none;
    color: white;
    text-decoration-line: none;
    margin-bottom: 2vh;
    transition: all 1s;
}

.cv-button:hover {
    transform: scale(1.2);
}