<div class="team-info-container">
  <h3 class="title">
    Our Team
  </h3>
  <div class="members-list">
    <h2 class="member">CO&Founder <i class="fas fa-copyright"></i> : Rotariu Alexandru Robert</h2>
    <h2 class="member">Chef <i class="fas fa-utensils"></i> : Rotariu Alexandru Robert</h2>
    <h2 class="member">Delivery <i class="fas fa-car"></i> : Rotariu Alexandru Robert</h2>
    <h2 class="member">Software engineer <i class="fas fa-laptop"></i> : Rotariu Alexandru Robert</h2>
    <a class="cv-button" href="https://pdfhost.io/v/GxQSjN0lm_CVESPEuropass20190702AlexandruRobertROpdf.pdf"> Go to
      CV</a>
  </div>
</div>