<p class="menu-title">Menu</p>
<div class="container">
  <div class="menu-container">
    <mat-card class="card-element">
      <img mat-card-lg-image class="card-image-1">
      <mat-card-title>
        Pizza Paesano
      </mat-card-title>
      <mat-card-subtitle>
        Bacon Cabanos Ciuperci Mozzarela
      </mat-card-subtitle>
      <mat-card-footer>
        35cm / 27.9 Lei
      </mat-card-footer>
    </mat-card>

    <!-- Al 2-lea produs -->
    <mat-card class="card-element">
      <img mat-card-lg-image class="card-image-2">
      <mat-card-title>
        Pizza Chorizo
      </mat-card-title>
      <mat-card-subtitle>
        Chorizo Gorgonzola Mozzarela
      </mat-card-subtitle>
      <mat-card-footer>
        35cm / 27.9 Lei
      </mat-card-footer>
    </mat-card>

    <!-- Al 3-lea produs -->
    <mat-card class="card-element">
      <img mat-card-lg-image class="card-image-3">
      <mat-card-title>
        Pizza Salsicia
      </mat-card-title>
      <mat-card-subtitle>
        Carnati Gorgonzola Mozzarela
      </mat-card-subtitle>
      <mat-card-footer>
        35cm / 27.9 Lei
      </mat-card-footer>
    </mat-card>

    <!-- Al 4-lea produs -->
    <mat-card class="card-element">
      <img mat-card-lg-image class="card-image-4">
      <mat-card-title>
        Pizza Peperoni
      </mat-card-title>
      <mat-card-subtitle>
        Mozzarela Oregano Patrunjel Salam Crud Uscat
      </mat-card-subtitle>
      <mat-card-footer>
        35cm / 27.9 Lei
      </mat-card-footer>
    </mat-card>

    <!-- Al 5-lea produs -->
    <mat-card class="card-element">
      <img mat-card-lg-image class="card-image-5">
      <mat-card-title>
        Pizza Carnivore
      </mat-card-title>
      <mat-card-subtitle>
        Mozzarela Cabanos Oregano Patrunjel Piept De Pui Rosii Salam
      </mat-card-subtitle>
      <mat-card-footer>
        35cm / 27.9 Lei
      </mat-card-footer>
    </mat-card>
  </div>
</div>