.container {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    box-shadow: -1px -1px 40px 5px rgba(0,0,0,0.75);
}
.menu-container {
    display:flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    
}
 .menu-title {
    
    margin-top: 0;
    display: flex;
    justify-content: center;
    font: 6vh 'Oleo Script', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
 }
 .card-element {
    margin-bottom: 2vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    width: 25vh;
    margin-right: 5vh;
    margin-left: 5vh;
    box-shadow: 2px 3px 17px 17px rgba(0,0,0,0.45);
 }
 .card-image-1 {
     border-radius: 15px;
     background-image: url(../../pictures/gemeni-pizza-paesano-300x237.jpg);
     width:20vh;
     height: 20vh;
     margin-bottom: 5vh;
     transition: all 1s;
 }
 .card-image-2 {
    border-radius: 15px;
    background-image: url(../../pictures/gemeni-pizza-chorizo-300x237.jpg);
    width:20vh;
    height: 20vh;
    margin-bottom: 5vh;
    transition: all 1s;
}
.card-image-3 {
    border-radius: 15px;
    background-image: url(../../pictures/gemeni-pizza-salsicia-300x237.jpg);
    width:20vh;
    height: 20vh;
    margin-bottom: 5vh;
    transition: all 1s;
}
.card-image-4 {
    border-radius: 15px;
    background-image: url(../../pictures/gemeni-pizza-peperoni-300x237.jpg);
    width:20vh;
    height: 20vh;
    margin-bottom: 5vh;
    transition: all 1s;
}
.card-image-5 {
    border-radius: 15px;
    background-image: url(../../pictures/gemeni-pizza-carnivore-300x237.jpg);
    width:20vh;
    height: 20vh;
    margin-bottom: 5vh;
    transition: all 1s;
}


 .card-image-1:hover {
     transform: scale(1.1);
 }
 .card-image-2:hover {
    transform: scale(1.1);
}
.card-image-3:hover {
    transform: scale(1.1);
}
.card-image-4:hover {
    transform: scale(1.1);
}
.card-image-5:hover {
    transform: scale(1.1);
}

mat-card-subtitle {
    text-align: center;
}
