/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-image: url(./app/pictures/126844_00_2x.jpg);
    background-size: cover;
    height: 100vh;
}
