<div class="text-container">
  <h2 class="title">Company overview&Mission Statement</h2>
  <div class="info">
    <p> Pizza Vezuviu is a new take on Romania’s favorite food. We proudly serve up delicious, gourmet pizza in its
      purest form - untainted by artificial additives, like preservatives, growth hormones, pesticides, nitrates and
      trans fats (to name a few). While we’re famous for our pizza, our 75% organic menu features an eclectic variety of
      gourmet sandwiches, salads, desserts, beer and wine. Additionally, we proudly offer health conscious alternatives
      for our friends with selective diets and food allergies, such as our delicious gluten-free pizza, brownies and
      beer and our tasty vegan selections.

      Born from a desire to make a difference, every detail of our operations is continuously evaluated from an
      environmental perspective in an effort to further minimize our ecological footprint. From delivering our food in
      company owned hybrid vehicles and offsetting 100% of our power consumption with the purchase of renewable wind
      energy certificates to building restaurants to LEED certified standards, we are committed to being a leader in not
      only the pizza industry, but in a better quality of life. Through our spirited philosophy and principled
      leadership, Pizza Vezuviu will redefine the fast casual restaurant industry.</p>
  </div>
  <h2 class="title">Mission Statement</h2>
  <div class="info">
    <p> Our mission is to uphold the highest level of integrity in all we do, from the quality and origin of our food to
      our care for the health of our customers and the environment.
    </p>
  </div>
</div>