.text-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    font: 5vh 'Oleo Script', Helvetica, sans-serif;
    color: #FCAB10;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
}
.info {
    width: 80%;
    background-color: white;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    color: #540D6E;
    box-shadow: -3px 6px 61px 13px rgba(0,0,0,0.75);
    font-weight: bold;
    transition: all 2s;
}

.info:hover {
    opacity: 1.0;
}